<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">
    <title>{{page.title}}</title>
</head>

<body>
<!-- --------- CONTENT IS BEING PULLED FROM PAGES// LINKED HERE VIA LAYOUT : DEFAULT  ----------- -->

    {{content}}

<!-- ---------------------- FOOTER INFORMATION ------------------------ -->
    <footer>
        <div>
            <a href="/default.html">home</a>
            <a href="/info.html">info</a>
            <a href="/tickets.html">tickets</a>
            <a href="/reservations.html">reservations</a>
        </div>
        <div>
            <p>
                233 BUTLER ST. BROOKLYN NY 11217
            </p>
        </div>
        <div>
            <a href="#">IG</a>
            <a href="#">FB</a>
        </div>
    </footer>

<!-- ---------------------- JS LINKS // SCRIPTS GO BELOW CLOSING BODY TAG ------------------------ -->

</body>

</html>